:root {
    --color-text-1: #4D869C;
    --color-2: #7AB2B2;
    --color-3: #EEF7FF;
    --color-border-4: #CDE8E5;
    --color-dark: #202020;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}




/* global classes starts */

.b_bottom {
    border-bottom: 1px solid var(--color-text-1);
}

.cursor_pointer {
    cursor: pointer;
}

.width_40 {
    width: 40%;
}

.border_red {
    border: 1px solid red;
}

.mt_30 {
    margin-top: 30px;
}

.ml_5 {
    margin-left: 5px;
}

.d_flex {
    display: flex;
}

.j_center {
    justify-content: center;
}

.align_center {
    align-items: center;
}

.j_between {
    justify-content: space-between;
}

.j_around {
    justify-content: space-around;
}


.input {
    padding: 13px;
    border: none;
    border-bottom: 1px solid var(--color-border-4);
    width: 93%;
    border-radius: 4px;
    color: var(--color-text-1);
}

.input:focus {
    outline: none;
}

.borderColor {
    border: 1px solid var(--color-border-4);
}

.saperator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ruler {
    width: 35%;
}

/* global classes end */













.container_wrapper {
    display: flex;
    height: 100vh;
    background-color: var(--color-text-1);
}

.form_container {
    width: 50%;
    display: flex;
    align-items: center;
    background-color: var(--color-3);
}

.form {
    width: 80%;
    border-radius: 10px;
    margin: auto;
}

.para1 {
    opacity: 0.7;
    font-size: 15px;
    margin-top: -15px;
}

.label {
    opacity: 0.5;
    font-size: small;
}


.remember_me_forget_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-text-1);
    font-size: 14px;
}

#remember_me {
    accent-color: var(--color-text-1);
}

#forgotPassword {
    text-decoration: underline;
    cursor: pointer;
}

#forgotPassword:hover {
    opacity: 0.5;
}

.btn {
    padding: 12px;
    width: 100%;
    font-weight: 900;
    opacity: 0.7;
    cursor: pointer;
    border-radius: 6px;
    color: var(--color-3);
    background-color: var(--color-text-1);
    border: 1px solid var(--color-border-4);
    transition: all 0.3s;
}

.btn:hover {
    background-color: var(--color-3);
    border: 1px solid var(--color-text-1);
    color: var(--color-text-1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.warning {
    color: rgb(216, 97, 97);
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.or {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}


.heading1 {
    color: var(--color-text-1);
}


#loginWithGoogle {
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}


/* side bar starts */

.side_div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-text-1);
    color: var(--color-3);
}

.side_div_inner {
    text-align: center;
}


.side_div_inner_btn {
    color: var(--color-text-1);
    border: 1px solid var(--color-3);
    border-radius: 4px;
    padding: 12px 20px;
    transition: all 0.3s;
    font-weight: 700;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.side_div_inner_btn:hover {
    cursor: pointer;
}

.icon:hover {
    margin-left: 4px;
}

.firebase_logo {
    width: 8rem;
    height: 8rem;
}

/* side bar end */

/* Login signup end */











/* loader starts */

#loader_wrapper {
    height: 90vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
}

#loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid var(--color-text-1);
    width: 30px;
    height: 30px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}

#loader1_wrapper {
    display: flex;
    justify-content: center;
}








/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* loader ends */




@media (max-width: 430px) {
    body {
        display: block;
    }

    .form_container {
        width: 100%;
    }

    .side_div {
        width: 100%;
    }
}