:root {
    --color-text-1: #4D869C;
    --color-2: #7AB2B2;
    --color-3: #EEF7FF;
    --color-border-4: #CDE8E5;
    --color-dark: #202020;
    --color-light: #ffffff;
}


/* Dashboard starts */

.navbar {
    position: sticky;
    top: 0;
    background-color: var(--color-3);
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 300;
}

.nav_left_wrapper {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_right_wrapper {
    width: 15%;
}

.nav_search_bar_wrapper {
    width: 25%;
    border: 1px solid red;
}

.nav_search_bar {
    border: 1px solid var(--color-border-4);
    border-radius: 4px;
    width: 90%;
    font-size: 12px;
    padding: 6px;
    color: var(--color-dark);
}

.nav_search_bar:focus {
    outline: none;
}

.theme_wrapper {
    border-radius: 50%;
    font-size: 16px;
    padding: 6px;
    color: var(--color-dark);
    border: 1px solid var(--color-border-4);
}

.logo_image {
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50%;
    border: 1px solid var(--color-text-1);
}





/* dropdown starts */

.dropbtn {
    color: var(--color-text-1);
    padding: 16px;
    font-size: 26px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    padding: 12px;
    background-color: var(--color-light);
    min-width: 90px;
    text-align: left;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown:hover .dropdown-content {
    display: block;
}

/* dropdown end */











#dashboard_frontpage_wrapper {
    padding: 50px;
}

.content_wrapper {
    width: 50%;
}

.dashboard_main_heading {
    color: var(--color-text-1);
    font-size: 3.5rem;
    text-shadow: 2px 2px 2px black;
}

.dashboard_front_page_img {
    width: 25rem;
    height: 25rem;
}


.navlink {
    cursor: pointer;
    color: var(--color-dark);
    position: relative;
    padding: 7px;
}

.navlink:hover {
    opacity: 0.6;
}

.navlink_active {
    opacity: 0.6;
}

.navlink_deactive {
    text-decoration: none;
    opacity: 1;
}

.dashboard_logout_btn {
    border: 1px solid var(--color-border-4);
    border-radius: 4px;
    cursor: pointer;
    padding: 8px;
    background-color: var(--color-3);
    color: var(--color-text-1);
}

.dashboard_logout_btn:hover {
    opacity: 0.5;
}

.developby {
    color: #7c7979;
}





.assignmentsDashboard {
    width: 100%;
}

#assignment_form_wrapper {
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.assignmentForm {
    text-align: center;
    border-radius: 4px;
    width: 400px;
    height: 250px;
    padding: 12px;
}

#close_form_btn {
    float: right;
    cursor: pointer;
    padding: 5px;
    color:#7c7979;
    border: 1px solid var(--color-2);
    border-radius: 50%;
}


#assignmentList {
    width: 100%;
}

.assignment_wrapper {
    width: 95%;
}

.assignment_content {
    margin-top: 30px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
}

.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_content_heading {
    color: var(--color-text-1);
    font-size: 35px;
    font-weight: 400;
}

.data_wrapper {
    margin-top: 30px;
    width: 100%;
}

#showData {
    padding: 20px;
}

.singleData {
    color: #202020;
    border: 1px solid var(--color-border-4);
    padding: 20px 12px;
    border-radius: 10px;
    transition: all 0.3s;
    color: var(--color-text-1);
    margin: 10px;
}

.singleData:hover {
    background-color: var(--color-3);
}

.single_data_header_wrapper {
    display: flex;
    justify-content: space-between;
}

.change {
    cursor: pointer;
}

.anchor_inner_data {
    transition: all 0.3s;
    color: #7c7979;
}

.anchor_inner_data:hover {
    opacity: 0.4;
}

.newAssignment {
    width: 80%;
    padding: 20px;
    border-radius: 2px;
}

#newassignment_wrapper, #myassignment_wrapper {
    padding: 40px;
}

.myassignment_content_wrapper {
    padding: 6px;
    border: 1px solid var(--color-border-4);
    border-radius: 10px;
    color: var(--color-text-1);
    transition: all 0.3s;
}

.myassignment_content_wrapper:hover {
    background-color: var(--color-3);
}

#bar_btn {
    border: 1px solid var(--color-border-4);
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}


/* Dashboard ends */






/* responsiveness starts */

@media (max-width: 867px) {
    .dashboard_wrapper {
        width: 100%;
    }

    .navbar {
        width: 100%;
    }

    .nav_left_wrapper {
        display: none;
        width: 100%;
        border: 1px solid red;
    }

    .nav_right_wrapper {
        /* display: none; */
    }

    #bar_btn {
        display: block;
    }
}


@media (max-width: 782px) {
    .navbar {
        width: 100%;
        justify-content: space-between;
    }

    .nav_left_wrapper {
        display: none;
        width: 100%;
        border: 1px solid red;
    }

    .nav_search_bar_wrapper {
        width: 40%;
    }

    .nav_right_wrapper {
        display: none;
    }

    #bar_btn {
        display: block;
    }

    .dashboard_frontpage_wrapper {
        display: block;
    }

    .content_wrapper {
        width: 100%;
    }

    .img_wrapper {
        width: 100%;
    }

    #newassignment_wrapper {
        width: 100%;
    }

    #class_assignments_wrapper {
        width: 100%;
    }

    #myassignment_wrapper {
        width: 100%;
    }
}

/* responsiveness end */